<% @vacancies.each do |vacancy| %>
  <tr id='<%= web_id(vacancy) %>' class='entry-header<%= xcycle('', ' alt') %>'>
    <td class='pos'><a href='<%= url(:vacancy, vacancy) %>'><%= raw vacancy.title %></a></td>
		<td class='emp'><%= raw vacancy.employer_name %></td>
		<td class='sal'><%= vacancy.salary %></td>
	</tr>
<% end %>
