<% page "employer-vacancies", "Мои вакансии", :path => %w(employers pro-employers vacancies) %>

<div class='pro-empoloyers-index-section'>	
	<h2>Мои вакансии</h2>
	<table id='vacancies-table'>
		<% @vacancies.each do |vacancy| %>
			<tr>
				<td class='controls'>
					<span>
  					<%= link_to image_tag('edit.gif', :title => 'Редактировать', :alt => 'Редактировать'), edit_pro_employer_vacancy_path(vacancy), :class => 'ui' %>
  					<%= link_to image_tag('delete.gif', :title => 'Удалить', :alt => 'Удалить'), [:pro_employer, vacancy],
  							:confirm => "Удаляем «#{vacancy.title}», да?", :method => :delete, :class => 'ui' %>
					</span>
				<th><%= link_to vacancy.title, [:pro_employer, vacancy], :class => 'ui'  %>
				<td><%= vacancy.salary %>
		<% end %>
	</table>
	<%= link_to "Новая вакансия", new_pro_employer_vacancy_path, :class => 'ui' %>
</div>
