<% page "employer-vacancies", "Мои вакансии", :path => %w(employers pro-employers vacancies) %>

<div class='pro-empoloyers-index-section'>	
	<h2>Мои вакансии</h2>
	<table id='vacancies-table'>
		<% @vacancies.each do |vacancy| %>
			<tr>
				<td class='controls'>
					<span>
  					<%= link_to edit_icon, edit_employer_vacancy_path(vacancy), :class => 'ui' %>
  					<%= link_to delete_icon, employer_vacancy_path(vacancy), :class => 'ui', :confirm => "Удаляем «#{vacancy.title}», да?", :method => :delete %>
					</span>
				<th><%= link_to vacancy.title, employer_vacancy_path(vacancy), :class => 'ui' %>
				<td><%= vacancy.salary %>
		<% end %>
	</table>
	<%= link_to "Новая вакансия", new_employer_vacancy_path, :class => 'ui' %>
</div>
