<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />	
	<title><%= @page_title %> - Админская Работнегов</title>
	<%= stylesheet_link_tag %w(gen/common gen/admin), :cache => "pack/admin" %>
	<%= javascript_include_tag %w(jquery), :cache => 'pack/lib' %>
	<%= javascript_include_tag %w(common application), :cache => 'pack/app' %>
</head>

<body id="<%= @page_id %>" class="admin">
	<div id='header'>
		<div id='nav'>
			<table id='tab-bar'>
				<col width=10>
				<col width=*>
				<tr>
					<td class='spacer'>
					<td id='logo-pseudo-tab'>
						<div id='logo'>
							<a href='/'>
								<span id='logo-pro'>Р</span><span id='logo-rabotu'>аботнеги.ру Админ</span>
							</a>
						</div>
			</table>
		</div>
	</div>

	<div id='content'>
		<%= content_tag :div, flash[:notice], :id => 'flash-notice' if flash[:notice] %>
		<%= content_tag :div, flash[:error], :id => 'flash-error' if flash[:error] %>		
		<%= yield :layout %>
	</div>
	
	<div id='footer'>© 2008 Работнеги.ру</div>
</body>
