<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />	
	<title>Управление Работнеги.ру</title>
	<%= stylesheet_link_tag 'default.css' %>
	<%= javascript_include_tag 'prototype', 'effects', 'dragdrop', 'controls', 'jquery', :cache => 'lib' %>
	<%= javascript_include_tag 'common', 'application', :cache => 'app' %>
</head>

<body <%= page_id %>>
	<div id='header'>
		<div id='nav'>
			<table id='tab-bar'>
				<col width=10>
				<col width=1>
				<col width=10>
				<col width=10>
				<col width=1>
				<col width=10>
				<col width=1>
				<col width=*>
				<tr>
					<td class='spacer'>
					<td id='logo-pseudo-tab'>
						<div id='logo'>
							<a href='/'>
								<span id='logo-pro'>Р</span><span id='logo-rabotu'>аботнеги.ру Админ</span>
							</a>
						</div>
			</table>			
		</div>		
	</div>

	<div id='content'>
		<%= content_tag :div, flash[:notice], :id => 'flash-notice' if flash[:notice] %>
		<%= content_tag :div, flash[:error], :id => 'flash-error' if flash[:error] %>		
		<%= yield :layout %>
	</div>
	
	<div id='footer'>© 2008 Работнеги.ру</div>
</body>
